body {
    background-image: url("https://th.bing.com/th/id/OIP.U8H_0LK76Aw734j6a6wWbwAAAA?pid=ImgDet&rs=1");
    background-size: cover;
    background-position: center;
  }
  .form-container {
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px;
  }
  label {
    font-size: 25px;
  }
  h1 {
    font-size: 45px;
  }
  .fixed-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(20, 18, 88, 0.703);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.2s;
    padding: 10px;
  }
  
  footer {
    color: whitesmoke;
    background: rgba(99, 43, 107, 0.703);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2),
      -5px -5px 15px 5px rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
    padding: 20px;
  }